#postgres
POSTGRES_USER=govguide_dummy_user
POSTGRES_PASSWORD=govguide_dummy_password
POSTGRES_DB=govguide_dummy_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#redis
REDIS_PASSWORD=govguide_dummy_password
REDIS_HOST=localhost
REDIS_PORT=6379

#NEST
NODE_ENV=development
PORT=3000